::-webkit-scrollbar
{
    width: 15px;
}

::-webkit-scrollbar-track{
	background: linear-gradient(to bottom, #a0c8c8, #88bfef, #867fe4);
}

::-webkit-scrollbar-thumb{
	background: #f6e38d;
	border-radius: 10px;
	box-shadow:  0 0 10px rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
	background: #f38f8f;
	border-radius: 10px;
	box-shadow:  0 0 10px rgba(0,0,0,.5);
}
