::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track{
	background: linear-gradient(to bottom, #d594e4, #88bfef, #867fe4);
}

::-webkit-scrollbar-thumb{
	background: #b37575;
	border-radius: 10px;
	box-shadow:  0 0 5px rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:hover{
	background: #f38f8f;
	box-shadow:  0 0 10px rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:active{
	background: #fb4949;
	box-shadow:  0 0 10px rgba(0,0,0,.5);
}
